.card {
  padding: 1rem 1.5rem;
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: #fff;
  color: $dark;
  margin: 0 0 1rem;
}
